## I. Descripción del problema e inspección del conjunto de datos

(Descripción del problema del conjunto de datos)
https://www.kaggle.com/datasets/sandhyapeesara/cloud-anomaly-data

In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import kagglehub

from kagglehub import KaggleDatasetAdapter

Para cargar el conjunto de datos, utilizamos la librería KaggleHub, la cual nos permite acceder directamente a un dataset alojado en Kaggle y cargarlo en un DataFrame de Pandas. Posteriormente, usamos la función info() de Pandas para obtener un resumen detallado del contenido del archivo.

In [12]:
#Cargando datos
df = kagglehub.dataset_load(
  KaggleDatasetAdapter.PANDAS,
  "sandhyapeesara/cloud-anomaly-data",
  "Cloud_Anomaly_Dataset.csv"
)
#Informacion de los datos
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277570 entries, 0 to 277569
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   vm_id                      249595 non-null  object
 1   timestamp                  277570 non-null  object
 2   cpu_usage                  250130 non-null  float64
 3   memory_usage               249775 non-null  float64
 4   network_traffic            249725 non-null  float64
 5   power_consumption          250018 non-null  float64
 6   num_executed_instructions  249637 non-null  float64
 7   execution_time             249960 non-null  float64
 8   energy_efficiency          249616 non-null  float64
 9   task_type                  249580 non-null  object
 10  task_priority              249674 non-null  object
 11  task_status                249621 non-null  object
 12  Anomaly status             277570 non-null  int64
dtypes: float64(7), int64(1), object(5)
memory usage: 27.5+ MB
None

In [13]:
df.describe()

,cpu_usage,memory_usage,network_traffic,power_consumption,num_executed_instructions,execution_time,energy_efficiency,Anomaly status
count,250130.000000,249775.000000,249725.000000,250018.000000,249637.000000,249960.000000,249616.000000,277570.000000
mean,50.013258,49.967249,500.554083,249.987238,5002.490284,50.011964,0.500369,0.059999
std,28.895806,28.879090,288.787794,144.662676,2882.806422,28.837634,0.288547,0.237486
min,0.000071,0.000016,0.002542,0.000802,0.000000,0.000172,0.000004,0.000000
25%,24.880023,24.965105,250.298114,124.199907,2506.000000,25.098016,0.250375,0.000000
50%,50.023806,49.912051,500.736963,250.397212,5000.000000,50.005593,0.500834,0.000000
75%,75.097896,74.960052,750.720026,375.485305,7499.000000,75.043715,0.750112,0.000000
max,99.999171,99.999907,999.998686,499.998819,9999.000000,99.998831,0.999994,1.000000